* {
  margin: 0;
  padding: 0;
}

.homepage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.homepage h2 {
  margin-left: 10px;
}
.homepage h1 {
  color: rgba(0, 0, 255, 0.801);
}

.text,
.image {
  flex: 1;
}

.image img {
  width: 100%;
  height: auto;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.abouttext {
  text-align: center;
  color: rgba(0, 0, 255, 0.801);
  font-size: 50px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
    align-items: stretch;
  }

  .text,
  .image {
    flex: none;
  }
}

@media screen and (max-width: 768px) {
  .abouttext {
    flex-direction: column;
    align-items: stretch;
  }

  .text,
  .image {
    flex: none;
  }
}
